html {
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  user-select: none;
}

*, *::before, *::after {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color: #d8c21e;
  --colorSecondary: #a80f5e;
  --background: #111111;
  --backgroundSecondary: #282828;
  --borderRadius: 10px;
  --animation: .3s ease;
}

body {
  display: grid;
  place-items: center;
  color: var(--color);
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  height: 80vh;
  border-radius: var(--borderRadius);
  border: 2px solid var(--color);
  background: var(--backgroundSecondary);
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.title-container, .tabs-container {
  flex-grow: 1
}

.timer-container {
  flex-grow: 5;
}

.title {
  font-size: 48px;
  text-transform: uppercase;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  border-radius: var(--borderRadius);
}

.tab {
  display: grid;
  place-items: center;
  border-radius: inherit;
  font-size: 24px;
  height: 100%;
  width: 30%;
}

.tab.selected {
  color: var(--background);
  background: var(--color);
}


.timer {
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
  background: var(--background);
  border: 8px solid var(--colorSecondary);
  border-radius: 50%;
}

.time-clock {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.divider {
  margin: 0 5px;
}