*,
*::before,
*::after {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --color: #d8c21e;
  --disabled: #8f853d;
  --colorSecondary: #a80f5e;
  --background: #111111;
  --backgroundSecondary: #282828;
  --borderRadius: 10px;
  --animation: 0.3s ease;
}

body {
  display: grid;
  place-items: center;
  color: var(--color);
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  height: 80vh;
  border-radius: var(--borderRadius);
  border: 2px solid var(--color);
  background: var(--backgroundSecondary);
}

.container.hide {
  display: none;
}

#app {
  z-index: 1;
}

#settings {
  z-index: 2;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-wrapper {
  position: relative;
}

.title-wrapper {
  flex: 0 0 75px;
}

.tabs-wrapper {
  flex: 1 0 30px;
}

.action-wrapper  {
  flex: 0 0 100px;
}

.timer-wrapper {
  flex: 5 0 auto;
}

.form-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  flex: 5 0 auto;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  border-radius: var(--borderRadius);
}

.tab {
  display: grid;
  place-items: center;
  border-radius: inherit;
  font-size: 24px;
  height: 100%;
  width: 30%;
  cursor: pointer;
}

.tab.selected {
  color: var(--background);
  background: var(--color);
}

.timer {
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
  background: var(--background);
  border: 8px solid var(--colorSecondary);
  border-radius: 50%;
}

.time-clock {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.divider {
  margin: 0 5px;
}

.icon {
  position: absolute;
  color: var(--color);
  background: var(--backgroundSecondary);
  right: 10px;
  display: grid;
  place-items: center;
  font-size: 32px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
}

.icon:hover {
  color: var(--background);
  background: var(--color);
  border-radius: var(--borderRadius);
}

.action-button {
  padding: 20px 40px;
  margin: 0 10px 10px 10px;
  border-radius: var(--borderRadius);
  border: 3px solid transparent;
  background: var(--color);
  color: var(--background);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.25s ease;
}

.action-button:hover {
  background: var(--background);
  color: var(--color);
  border: 3px solid var(--color);
}

.action-button.secondary {
  border-radius: var(--borderRadius);
  border: 3px solid var(--colorSecondary);
  background: var(--background);
  color: var(--color);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.action-button.secondary:hover {
  background: var(--colorSecondary);
  color: var(--color);
  border: 3px solid var(--color);
}


.action-button[disabled] {
  background: var(--disabled);
  cursor: not-allowed;
}

.action-button[disabled]:hover {
  background: var(--disabled);
  cursor: not-allowed;
  color: var(--background);
  border: 3px solid transparent;
}

.inputs-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.input-title {
  font-size: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 5px 0;
  padding: 5px 5px 5px 10px;
  border-radius: var(--borderRadius);
  background: var(--color);
  border: none;
  width: 70%;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 275px;
}

.error {
  margin-top: 5px;
  color: var(--colorSecondary);
  text-align: center;
}

@media screen and (max-width: 920px) and (min-width: 769px)  and (orientation: portrait) {
  .container {
    width: 75vw;
    height: 75vh;
  }

  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .container {
    width: 95vw;
    height: 95vh;
  }

  .title {
    font-size: 28px;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tab {
    font-size: 24px;
    width: 95%;
  }

  .icon {
    right: 15px;
  }

  .inputs-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 920px) and (orientation: landscape) {
  .container {
    overflow-x: auto;
    justify-content: flex-start;
    height: 98vh;
    min-width: 85vw;
  }
}
